PORT=3000
REMOTE_URL=https://softpro.cl/activacion-telefonica/
FRONTEND_URL=http://localhost:5500
TURNSTILE_SITEKEY=0x4AAAAAAE6dCbWx9-ifZ3dD
TURNSTILE_SOLVER_URL=http://127.0.0.1:8191/solve
TURNSTILE_TIMEOUT=45
